@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Merriweather&family=Montserrat&family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(227, 227, 227);
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.select {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgb(88, 88, 88);
}

.select .header {
  margin-top: -40px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
}

.select .icons {
  display: flex;
  font-size: 15px;
  margin: 20px 0px;
}

.icons div {
  margin: 0px 10px;
  padding: 4px 8px;
  cursor: pointer;
  transition: 0.2s;
  width: 50%;
}

.icons div:hover {
  box-shadow: 0px 2px 4px rgb(190, 190, 190);
}

.icons i {
  font-size: 30px;
  color: rgb(234, 157, 23);
  background-color: black;
  overflow: hidden;
  border-radius: 50%;
  border: none;
  outline: none;
}

button {
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.2s;
  outline: none;
}

button:hover {
  background-color: rgb(54, 54, 54);
  outline: none;
}

.review {
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgb(88, 88, 88);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  padding: 0px 20px;
}

.review .heart {
  color: red;
  font-size: 30px;
  margin-top: -40px;
  margin-bottom: 10px;
}

.review p {
  margin: 7px 0px;
}

.disable {
  display: none;
}

.active {
  box-shadow: 0px 2px 4px gray;
  border-radius: 3px;
}

button:active {
  transform: scale(0.9);
}

.text {
  text-align: center;
  word-wrap: normal;
  width: 100%;
}
